<p>
  <a routerLink="/"><i class="fa fa-home"></i> Home</a><br>
  <a routerLink="/login"><span class="glyphicon glyphicon-ok-sign"></span> Login</a><br>
  <a routerLink="/map">Map</a><br>
  <a routerLink="/view-plans">View Plans</a><br>
  <a routerLink="/new-plans">New Plans</a><br>
  <a routerLink="/view-records">View Records</a><br>
  <a routerLink="/new-records">New Records</a><br>
  <a routerLink="/create-farm">Create Farm</a><br>
  <a routerLink="/view-farm">View Farm</a><br>
  <a routerLink="/mapping">Mapping</a><br>
  <a routerLink="/account">Account</a><br>
  <a routerLink="/instruction">Instruction</a><br>
  <a routerLink="/about-us">About Us</a><br>
</p>
